.footer {
    display: flex;
    background-color: $main-section-color;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .address {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 70px;
   
    &-link {
      margin-bottom: 0;
      font-style: normal;
      line-height: 1.71;
    
      color: $white-color;
    }
  }
  
  .footer-nav {
    margin-top: 9px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    & .link {
      color: $footer-color;
      font-style: normal;
      text-decoration: none;
    }
  }

  .footer-social-main {
    display: flex;
    margin: 0 32px 30px 32px;
  }
  
  .footer-style {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
  }
  
  .footer-social-list {
    display: flex;
  
  }
  .footer-social-li {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
  
    transition: background-color 250ms $cubic-action,
    color 250ms $cubic-action;
  
    &:not(:last-child) {
      margin-right: 10px;
    }
    
    &:hover,
    &:focus {
      @extend .footer-social-li;
      background-color: $accent-color;
    }
  }

  .footer-list-icon {
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: $white-color;

    &:hover,
    &:focus {
     @extend .footer-list-icon;
    }
  }
  
  .footer-email {
    display: flex;
    flex-direction: row;
  }
  
  .email-box {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
  
    font-size: 16px;
    line-height: 1.25;
  
    background-color: transparent;
    color: $white-color;
    @include border(rgba(255, 255, 255, 0.3));
    box-sizing: border-box;
    filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  
  .button-submit {
    @extend %flex-centered;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
  
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: $accent-color;
  }
  
  .icon-submit {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  