.main-index {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-index-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: $white-color;
  }

  .button-index {
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
  
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
  
    cursor: pointer;
    color: $white-color;
    background-color: $accent-color;
    border: transparent;
  
    transition: background-color 250ms $cubic-action;

    &:hover,
    &:focus {
    cursor: pointer;
    color: $white-color;
    background-color: $bottom-index-active;
  }
  }
  
  