  .client {
    width:100%;
    @media screen and (min-width:480px) {
      min-width: 480px;
    }
  }
  
  .client-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width:768px) {
      font-size: 28px;
      line-height: 1.18;
    }
    @media screen and (min-width:1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;

    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
  }

  .client-li {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;

    @media screen and (min-width:768px) {
      width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width:1200px) {
      padding: auto;
      vertical-align: middle;
      width: 100%;
    }
  }
  
  .client-link {
    @extend %flex-centered;
    width: 100%;  
    height: 92px;
  
    color: $client-color;
    @include border($client-color);
    border-radius: 4px;
    transition: background-color 250ms $cubic-action,
    color 250ms $cubic-action;

    @media screen and (min-width:480px) {
      width: 210px;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }

      &:hover,
      &:focus {
      color: $accent-color;
      fill: $accent-color;
      @include border($accent-color);
    }
  }
  
  .icon-li {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }