.team {
  width: 100%;
  background-color: $team-background-color;
  @media screen and (min-width:480px) {
    min-width: 480px;
  }
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;

  @media screen and (min-width:768px) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width:1200px) {
  font-size: 36px;
}
}

  .team-list {
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      padding: 0;
    }
    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
  }
  
  .team-list-li {
    background-color: $white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

      &:not(:last-child) {
        @media screen and (max-width:767px) {
          margin-bottom: 30px;
        }
      }

    @media screen and (min-width:768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  .team-list-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: $main-text-color;
  }

  .team-list-position {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
    color: $secondary-text-color;

    @media screen and (min-width:1200px) {
      text-align: center;
    }
  }
  
  .team-name-position {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .team-social-list {
    @extend %flex-centered;
  }
  
  .team-social-li {
    @extend %flex-centered;
   
    &:not(:last-child) {
    margin-right: 10px;
  }}
  
  .team-social-link {
    width: 44px;
    height: 44px;
    color: $white-color;
    border-radius: 50%;
  
    transition: background-color 250ms $cubic-action,
    color 250ms $cubic-action;

    &:hover,
    &:focus {
      color: $white-color;
      background-color: $accent-color;
      border-radius: 50%;
    }
  }
  
  .team-list-icon {
    padding: 12px;
    width: 44px;
    height: 44px;
    fill: $client-color;
    transition: fill 250ms $cubic-action;

    .team-social-link:hover &,
    .team-social-link:focus &{
      fill: currentColor;
  }}