$main-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$main-section-color: #2f303a;
$second-section-color: #e5e5e5;
$team-background-color: #f5f4fa;
$accent-color: #2196f3;
$logo-color-second: #000000;
$footer-color: rgba(255, 255, 255, 0.6);
$main-buttom: #f5f4fa;
$bottom-index-active: #188ce8;
$border-color: #ececec;
$portfolio-border-color: #eeeeee;
$client-color: #afb1b8;
$cubic-action: cubic-bezier(0.4, 0, 0.2, 1);